body
{
    background-color: rgb(12, 20, 20);
    color: rgb(132, 140, 139);
    font-size: 16px;
    font-family: monospace;
    line-height: 1.5;
    font-weight: normal;
}

header
{
    background-color: rgb(17, 20, 22);
}

.hidden
{
    display: none;
}

.nav-link
{
    color: greenyellow;
}

.nav-link:active
{
    color: rgb(16, 60, 16);
}

.topright 
{
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 1vw;
}

.disableUnderline
{
    text-decoration: none;
}

.disableUnderline:hover
{
    text-decoration: underline;
}

.downInput
{
    background-color: black;
    color: rgb(132, 140, 139);
    visibility: hidden;
}

.downInput:focus
{
    background-color: black;
    color: rgb(132, 140, 139);
}

.nav
{
    padding-left: 16%;
}

.ascii-art 
{
    font-family: monospace;
    white-space: pre;
}

.asciiButton
{
    width: 83.5%;
}

.hyperlink,
.hyperlink:focus
{
    text-decoration-color: green;
    color: green;
}

.hyperlink:hover
{
    color: greenyellow;
    text-decoration-color: greenyellow;
}

#console
{
    border-top: 0.01px solid rgb(42, 50, 49);
    margin-top: 0.1%;
    background: rgb(12, 20, 20);
    padding-top: 2.5%;
    padding-bottom: 8%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar .nav-item:hover .nav-link
{
    color: rgb(23, 112, 23);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link 
{
    color: #F0F8FF;
    background-color: rgb(70, 138, 25);
}

.listHeader
{
    color: rgb(70, 138, 25);
}

.work-descr
{
    color: greenyellow;
}

.no-bullets
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#skipButton
{
    position: fixed;
    bottom: 55px;
    right: 70px;
    text-align: center;
    padding: 5px 16px;
    font-size: 25px;
    margin: auto;
    display: block;
}

.projectHeader #static, .projectHeader:hover #animated {
    display: inline;
}
.projectHeader #animated, .projectHeader:hover #static {
    display: none;
}

.imgGroup:hover .projectText
{
	opacity: 1;
}

.projectHeader
{
    border-radius: 6px;
    padding-top: 1px;
}

.projectSquare
{
    padding-top: 15px;
}

.projectSquare-center
{
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.imgGroup .projectText
{
	color: #ffffff;
	opacity: 0.95;
	font-weight: bold;
	 -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.video
{
    width: 80%;
    height: 650px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.game-card
{
    background-color: black;
}


