<footer>
    <div class="stroke-bar"></div>
    <div class="hd-break"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 nowrap copyright text-start">
                <span>© 2021 Mateusz Kusionowicz</span>
            </div>
            <div class="col-lg-4 nowrap text-end align-self-center">
                <nav class="social-media">
                    <a class="social-media-btn" href="mailto:mateusz.kusionowicz@protonmail.com" target="_blank"
                        aria-label="mateusz.kusionowicz@protonmail.com"><i class="far fa-envelope footer-media"></i></a>
                    <a class="social-media-btn" href="https://www.linkedin.com/in/mateusz-kusionowicz" target="_blank"
                        aria-label="Mateusz Kusionowicz"><i class="fab fa-linkedin-in footer-media"></i></a>
                    <a class="social-media-btn" href="https://github.com/TheMatiaz0" target="_blank"
                        aria-label="Mateusz Kusionowicz"><i class="fab fa-github footer-media"></i></a>
                    <a class="social-media-btn" href="https://twitter.com/thematiaz0" target="_blank"
                        aria-label="Mateusz Kusionowicz"><i class="fab fa-twitter footer-media"></i></a>
                </nav>
            </div>
        </div>
    </div>
</footer>