{% include full-lang-switch.html %}
{% include projects.html %}

<div class="break"></div>
<div class="main-margin" id="projects"></div>
<div class="stroke-bar"></div>
<div class="hd-break"></div>
<div class="d-xl-none">
  <div class="ultra-break"></div>
</div>

{% include about.html %}

<div class="break"></div>
<div class="stroke-bar"></div>
<div class="hd-break"></div>
<div class="d-xl-none">
  <div class="ultra-break"></div>
</div>

{% include skills.html %}

<div class="break"></div>
<div class="stroke-bar"></div>
</div>
<div class="hd-break"></div>
<div class="d-xl-none">
  <div class="ultra-break"></div>
</div>

{% include contact.html %}