<!DOCTYPE html>
<html lang="{{page.language}}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{page.title}}</title>
  <meta name="keywords"
    content="game games video development programming software engineer engineering entertainment developer c# unity ui design designer portfolio 2D Poland Polska">
  <meta name="description"
    content="Game Developer, Programmer and Designer Portfolio of Mateusz Kusionowicz. Experienced in Unity, C#, Gameplay Programming, UI Programming.">
  <meta name="author" content="TheMatiaz0">
  <meta name="language" content="English">
  <meta name="robots" content="all">
  <meta name="theme-color" content="#468A19">

  <link rel="shortcut icon" href="{{ base.url | prepend: site.url }}/favicon.jpeg">
  <link rel="apple-touch-icon" href="{{ base.url | prepend: site.url }}/favicon.jpeg" />
  <link rel="icon" href="{{ base.url | prepend: site.url }}/favicon.jpeg" />
  <link rel="canonical" href="https://thematiaz0.github.io" />

  <meta property="og:title" content="Mateusz Kusionowicz - Game Programmer Portfolio" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://thematiaz0.github.io" />
  <meta property="og:image" content="https://thematiaz0.github.io/{{ base.url | prepend: site.url }}/favicon.jpeg" />
  <meta property="og:description"
    content="Game Developer, Programmer and Designer Portfolio of Mateusz Kusionowicz. Experienced in Unity, C#, Gameplay Programming, UI Programming." />

  <meta property="twitter:card" content="https://thematiaz0.github.io/{{ base.url | prepend: site.url }}/favicon.jpeg">
  <meta property="twitter:url" content="https://thematiaz0.github.io">
  <meta property="twitter:image" content="https://thematiaz0.github.io/{{ base.url | prepend: site.url }}/favicon.jpeg">
  <meta property="twitter:title" content="Mateusz Kusionowicz - Game Programmer Portfolio">
  <meta property="twitter:description"
    content="Game Developer, Programmer and Designer Portfolio of Mateusz Kusionowicz. Experienced in Unity, C#, Gameplay Programming, UI Programming.">

  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Syne+Mono" rel="stylesheet">


  <link href="vendor/font-awesome/css/font-awesome.min.css">

  <script src="https://kit.fontawesome.com/5ecbdd9ff2.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>


  <link rel="stylesheet" href="{{ base.url | prepend: site.url }}/main.css" />
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{{ base.url | prepend: site.url }}/assets/js/start.js"></script>
  <div class="main-margin" id="projects">
    {% include navigation.html %}

    {{content}}
    {% include footer.html %}
  </div>
  <script src="{{ base.url | prepend: site.url }}/assets/js/base.js"></script>
</body>

</html>