<!DOCTYPE html>
<html lang="{{page.language}}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{page.title}}</title>

  <link rel="alternate" hreflang="en" href="https://thematiaz0.github.io">
  <link rel="alternate" hreflang="pl" href="https://thematiaz0.github.io/pl">
  <link rel="alternate" hreflang="x-default" href="https://thematiaz0.github.io">

  <meta name="keywords" content="{{site.data.meta.keywords[page.language]}}">
  <meta name="description" content="{{site.data.meta.description[page.language]}}">
  <meta name="author" content="TheMatiaz0 (Mateusz Kusionowicz)">
  <meta name="language" content="{%if page.language == 'en' %}English{%else%}Polish{%endif%}">
  <meta name="robots" content="all">
  <meta name="theme-color" content="#468A19">

  <link rel="shortcut icon" href="{{ base.url | prepend: site.url }}/favicon.webp">
  <link rel="apple-touch-icon" href="{{ base.url | prepend: site.url }}/favicon.webp" />
  <link rel="icon" href="{{ base.url | prepend: site.url }}/favicon.webp" />
  <link rel="canonical" href="{{site.data.meta.url[page.language]}}" />

  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{site.data.meta.url[page.language]}}" />
  <meta property="og:image" content="{{ base.url | prepend: site.url }}/favicon.webp" />
  <meta property="og:description" content="{{site.data.meta.description[page.language]}}" />

  <meta property="twitter:card" content="{{ base.url | prepend: site.url }}/favicon.webp">
  <meta property="twitter:url" content="{{site.data.meta.url[page.language]}}">
  <meta property="twitter:image" content="{{ base.url | prepend: site.url }}/favicon.webp">
  <meta property="twitter:title" content="{{page.title}}">
  <meta property="twitter:description" content="{{site.data.meta.description[page.language]}}">


  <link style="font-display: auto;" href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Syne+Mono&display=swap"
    rel="stylesheet">

  <link href="vendor/font-awesome/css/font-awesome.min.css">

  <script src="https://kit.fontawesome.com/5ecbdd9ff2.js" crossorigin="anonymous" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
  </script>


  <link rel="stylesheet" href="{{ base.url | prepend: site.url }}/main.css" />
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{{ base.url | prepend: site.url }}/assets/js/start.js"></script>

  {% include navigation.html %}
  
  {{content}}

  {% include footer.html %}

  <script src="{{ base.url | prepend: site.url }}/assets/js/base.js"></script>
</body>

</html>